WebApplication5/Web.config
WebApplication5/Web.config
WebApplication5/bin/WebApplication5.pdb
.vs/WebApplication5/config/applicationhost.config
.vs/WebApplication5/config/applicationhost.config
.vs/WebApplication5/config/applicationhost.config

*.config
*.cache
*.config
.vs/WebApplication5/config/applicationhost.config
WebApplication5/bin/WebApplication5.dll.config
WebApplication5/WebApplication5.csproj.user
WebApplication5/WebApplication5.csproj.user
WebApplication5/WebApplication5.csproj.user
.vs/WebApplication5/config/applicationhost.config
