WebApplication5/Web.config
WebApplication5/Web.config
WebApplication5/bin/WebApplication5.pdb
.vs/WebApplication5/config/applicationhost.config
.vs/WebApplication5/config/applicationhost.config
.vs/WebApplication5/config/applicationhost.config

*.config
*.cache
