/* RegisterPage.css */

body {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    font-family: sans-serif; /* Replace 'Your Desired Font' with the actual font name you want to use */
}

#form1 {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#UsernameLabel,
#EmailLabel,
#PasswordLabel {
    width: 100%;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: sans-serif; /* Replace 'Your Desired Font' with the actual font name you want to use */
}

h1 {
    color: #fff;
    text-align: center; /* Center the h1 element */
    font-family:  sans-serif; /* Replace 'Your Desired Font' with the actual font name you want to use */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 46px;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    background-color: #333;
}

#Label1 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    display: block;
}

#Registerbtn {
    background-color: #d1bf8c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    display: block; /* Center the button */
    margin: 0 auto; /* Center the button */
}

#Registerbtn:hover {
    background-color: #a8a469;
}
