
/* Style GridView */

#GridView2 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

 #GridView2 th, #GridView2 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#GridView2 th {
    background-color: #ccc780;
    color: white;
}
